body {
  background-color: lightblue;
  height: 100%;
  width: 100%;
}
#calcScreen {
  background-color: skyblue;
  font-size: 30px;
  margin: 10% 25% 0 25%;
  text-align: center;
  width: 50%;
}

#numInput {
  background-color: gray;
  font-size: 10px;
  margin: 0 25% 0 25%;
  text-align: center;
  width: 50%;
}

button {
  margin: 3px;
  padding: 5px 0 5px 0;
  width: 15%;
}

.spcBtn {
  width: 30%;
}

.fifthRowBtns